@import './var';
* {
  box-sizing: border-box;
}

.page {
  min-width: 1300px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}

.row {
  margin: $space * 2 0;
}

.round {
  border-radius: $space;
}

.ml {
  margin-left: $space;
}

.mr {
  margin-right: $space;
}

.mb {
  margin-bottom: $space;
}

.mt {
  margin-top: $space;
}
// 字体颜色
.font-info {
  color: $info
}
.font-primary {
  color: $primary
}
.font-success {
  color: $success
}
.font-danger {
  color: $danger
}
.font-warning {
  color: $warning
}