.hk-search-all {
  .search-all {
    display: flex;
    justify-content: flex-start;
    line-height: 40px;
    align-items: center;
  }
  .search-all-more {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    align-items: center;
  }
  .hk-search {
    display: flex;
    flex-wrap: wrap;
    .hk-search-row {
      font-size: 14px;
      color: #172434;
      display: flex;
      align-items: center;
      margin: 5px;
      & + .hk-search-row {
        margin-left: 20px;
      }
    }
  }
  .hk-search-button {
    margin-left: 20px;
  }
  @keyframes bounce {
    30%,
    to {
      transform: translateY(8px);
    }
    90% {
      transform: translateY(0px);
    }
  }
  .more {
    font-size: 30px;
    text-align: center;
    animation: bounce 2s ease-in infinite;
  }
}
