.hk-search {
  display: flex;
  .hk-search-row {
    font-size: 14px;
    color: #172434;
    display: flex;
    align-items: center;
    & + .hk-search-row {
      margin-left: 20px;
    }
  }
  .el-form {
    display: flex;
    .el-form-item {
      margin: 0 0 0 20px;
      // .el-form-item {}
    }
  }
  .el-form-item__label {
    width: auto !important;
    padding: 0;
  }
  .el-form-item__content {
    margin-left: 0 !important;
  }
  .el-form-item {
    margin-bottom: 0;
  }
}
