/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Break-point
--------------------------*/
.el-tag {
  background-color: #e6effd;
  border-color: #ccdefb;
  color: #005bea;
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  color: #005bea;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap; }
  .el-tag.is-hit {
    border-color: #005bea; }
  .el-tag .el-tag__close {
    color: #005bea; }
    .el-tag .el-tag__close:hover {
      color: #ffffff;
      background-color: #005bea; }
  .el-tag.el-tag--info {
    background-color: #f3f4f6;
    border-color: #e8e9ed;
    color: #8a92a5; }
    .el-tag.el-tag--info.is-hit {
      border-color: #8a92a5; }
    .el-tag.el-tag--info .el-tag__close {
      color: #8a92a5; }
      .el-tag.el-tag--info .el-tag__close:hover {
        color: #ffffff;
        background-color: #8a92a5; }
  .el-tag.el-tag--success {
    background-color: #e7f8eb;
    border-color: #cff1d7;
    color: #0dbb38; }
    .el-tag.el-tag--success.is-hit {
      border-color: #0dbb38; }
    .el-tag.el-tag--success .el-tag__close {
      color: #0dbb38; }
      .el-tag.el-tag--success .el-tag__close:hover {
        color: #ffffff;
        background-color: #0dbb38; }
  .el-tag.el-tag--warning {
    background-color: #fff2eb;
    border-color: #fee5d7;
    color: #fb7d37; }
    .el-tag.el-tag--warning.is-hit {
      border-color: #fb7d37; }
    .el-tag.el-tag--warning .el-tag__close {
      color: #fb7d37; }
      .el-tag.el-tag--warning .el-tag__close:hover {
        color: #ffffff;
        background-color: #fb7d37; }
  .el-tag.el-tag--danger {
    background-color: #fee9e9;
    border-color: #fcd3d3;
    color: #f22323; }
    .el-tag.el-tag--danger.is-hit {
      border-color: #f22323; }
    .el-tag.el-tag--danger .el-tag__close {
      color: #f22323; }
      .el-tag.el-tag--danger .el-tag__close:hover {
        color: #ffffff;
        background-color: #f22323; }
  .el-tag .el-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px; }
    .el-tag .el-icon-close::before {
      display: block; }
  .el-tag--dark {
    background-color: #005bea;
    border-color: #005bea;
    color: white; }
    .el-tag--dark.is-hit {
      border-color: #005bea; }
    .el-tag--dark .el-tag__close {
      color: white; }
      .el-tag--dark .el-tag__close:hover {
        color: #ffffff;
        background-color: #337cee; }
    .el-tag--dark.el-tag--info {
      background-color: #8a92a5;
      border-color: #8a92a5;
      color: white; }
      .el-tag--dark.el-tag--info.is-hit {
        border-color: #8a92a5; }
      .el-tag--dark.el-tag--info .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--info .el-tag__close:hover {
          color: #ffffff;
          background-color: #a1a8b7; }
    .el-tag--dark.el-tag--success {
      background-color: #0dbb38;
      border-color: #0dbb38;
      color: white; }
      .el-tag--dark.el-tag--success.is-hit {
        border-color: #0dbb38; }
      .el-tag--dark.el-tag--success .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--success .el-tag__close:hover {
          color: #ffffff;
          background-color: #3dc960; }
    .el-tag--dark.el-tag--warning {
      background-color: #fb7d37;
      border-color: #fb7d37;
      color: white; }
      .el-tag--dark.el-tag--warning.is-hit {
        border-color: #fb7d37; }
      .el-tag--dark.el-tag--warning .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--warning .el-tag__close:hover {
          color: #ffffff;
          background-color: #fc975f; }
    .el-tag--dark.el-tag--danger {
      background-color: #f22323;
      border-color: #f22323;
      color: white; }
      .el-tag--dark.el-tag--danger.is-hit {
        border-color: #f22323; }
      .el-tag--dark.el-tag--danger .el-tag__close {
        color: white; }
        .el-tag--dark.el-tag--danger .el-tag__close:hover {
          color: #ffffff;
          background-color: #f54f4f; }
  .el-tag--plain {
    background-color: white;
    border-color: #99bdf7;
    color: #005bea; }
    .el-tag--plain.is-hit {
      border-color: #005bea; }
    .el-tag--plain .el-tag__close {
      color: #005bea; }
      .el-tag--plain .el-tag__close:hover {
        color: #ffffff;
        background-color: #005bea; }
    .el-tag--plain.el-tag--info {
      background-color: white;
      border-color: #d0d3db;
      color: #8a92a5; }
      .el-tag--plain.el-tag--info.is-hit {
        border-color: #8a92a5; }
      .el-tag--plain.el-tag--info .el-tag__close {
        color: #8a92a5; }
        .el-tag--plain.el-tag--info .el-tag__close:hover {
          color: #ffffff;
          background-color: #8a92a5; }
    .el-tag--plain.el-tag--success {
      background-color: white;
      border-color: #9ee4af;
      color: #0dbb38; }
      .el-tag--plain.el-tag--success.is-hit {
        border-color: #0dbb38; }
      .el-tag--plain.el-tag--success .el-tag__close {
        color: #0dbb38; }
        .el-tag--plain.el-tag--success .el-tag__close:hover {
          color: #ffffff;
          background-color: #0dbb38; }
    .el-tag--plain.el-tag--warning {
      background-color: white;
      border-color: #fdcbaf;
      color: #fb7d37; }
      .el-tag--plain.el-tag--warning.is-hit {
        border-color: #fb7d37; }
      .el-tag--plain.el-tag--warning .el-tag__close {
        color: #fb7d37; }
        .el-tag--plain.el-tag--warning .el-tag__close:hover {
          color: #ffffff;
          background-color: #fb7d37; }
    .el-tag--plain.el-tag--danger {
      background-color: white;
      border-color: #faa7a7;
      color: #f22323; }
      .el-tag--plain.el-tag--danger.is-hit {
        border-color: #f22323; }
      .el-tag--plain.el-tag--danger .el-tag__close {
        color: #f22323; }
        .el-tag--plain.el-tag--danger .el-tag__close:hover {
          color: #ffffff;
          background-color: #f22323; }
  .el-tag--medium {
    height: 28px;
    line-height: 26px; }
    .el-tag--medium .el-icon-close {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .el-tag--small {
    height: 24px;
    padding: 0 8px;
    line-height: 22px; }
    .el-tag--small .el-icon-close {
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
  .el-tag--mini {
    height: 20px;
    padding: 0 5px;
    line-height: 19px; }
    .el-tag--mini .el-icon-close {
      margin-left: -3px;
      -webkit-transform: scale(0.7);
      transform: scale(0.7); }
